/* ======== START OF GLOBAL ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #1d1127;
    color: white;
}
/* ======== END OF GLOBAL ======== */

/* ======== START OF LOADER ======== */
#loader-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #111827;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.loader-box {
    width: 400px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 25px;

    background: #374151;

    border-radius: 20px;
    overflow: hidden;

    margin-top: 20px;
}

.progress {
    width: 0%;
    height: 100%;

    background: #7d3bf6;

    transition: width 0.05s linear;
}

#loading-text {
    margin-top: 10px;
    font-size: 18px;
}
/* ======== END OF LOADER ======== */

/* ======== START OF MAIN CONTENT ========*/
#intro-wrapper {
    display: none;
    height: 100vh;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.intro-description {
    text-align: center;
}

#intro-wrapper img {
    width: 300px;
}
/* ======== END OF MAIN CONTENT ========*/

/* ======== START OF ZOOM TRANSITION ======== */
#intro-wrapper {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

#intro-wrapper.zoom-in {
    opacity: 1;
    transform: scale(1);
}

#intro-wrapper.zoom-out {
    opacity: 0;
    transform: scale(5.4);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
/* ======== END OF ZOOM TRANSITION ======== */
